<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
    <div id="header"></div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          {% if page.url contains "partake-in-purchasing" %}
            <h1>Buy Narelle King's Books</h1>
          {% else %}
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <p>{{ site.tagline | default: site.description | default: site.github.project_tagline }}</p>
          {% endif %}
          <hr>
          <span class="credits left">Website maintained by Narelle's son</span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
        </div>

        {{ content }}

        {% unless page.url contains "partake-in-purchasing" %}
          <a href="/partake-in-purchasing" class="purchase">Buy books</a>
        {% endunless %}

      </section>

      <footer>
        <h3>Links</h3>
        <ul>
          <li><a href="https://www.goodreads.com/book/show/63124109-the-bonehead-resistance" target="_blank" rel="noreferrer noopener">Check me out on Goodreads</a></li>
          <li><a href="https://www.instagram.com/narellekingauthor" target="_blank" rel="noreferrer noopener">My Instagram</a></li>
          <li><a href="https://www.youtube.com/watch?v=9ZMTN8ksYvM" target="_blank" rel="noreferrer noopener">Listen to the first chapter of the Bonehead Resistance</a></li>
          <li><a href="https://www.youtube.com/watch?v=E_JRiJfvP8w" target="_blank" rel="noreferrer noopener">Listen to the first chapter of the Bonehead Gate</a></li>
        </ul>
      </footer>

    </div>
  </body>
</html>